/* Подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Базовая конструкция */
html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}

:root{
    --main-color: #263238;
}

.container{
    margin: 0 auto;
    max-width: 1390px;
    padding: 0 20px;
}
