/* Подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Базовая конструкция */
html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}

:root{
    --main-color: #263238;
}

.container{
    margin: 0 auto;
    max-width: 1390px;
    padding: 0 25px;
}

/* Navigation */

.nav {
}
.nav__inner {
    padding: 53px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-container {
    display: block;
    transition: width 0.3s ease;
}
.logo-container {
}
.img {
    width: 100%;
    height: auto;
    max-width: 100%;
}
.nav-img {
}

.menu {
    display: flex;
    list-style: none;
    gap: 40px;
}

.menu li {
    position: relative;
}

.menu li a{
    display: inline-block;
    padding-bottom: 5px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    color:var(--main-color) ;
    transition: transform 0.3s ease; 
}

.menu li a:active{
    transform: scale(95%);
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    transform: translateX(-50%); 
    transition: width 0.3s ease; 
}

.menu li a:hover::after {
    width: 80%; 
}

.button {
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    transition:all 0.5s ease;
    font-weight: 500;
}

.button:hover{
    cursor: pointer;
    background-color: var(--main-color);
    color: #fff;
}

.button:active{
    transform: scale(95%);
}

.button-outline {
    border: 2px solid var(--main-color);
    font-size: 24px;
    padding: 16px 56px;
    background-color: #fff;
}

.burger {
    display: none;
}


@media screen and (max-width: 992px){

    .nav__inner {
        padding-top: 25px;
    }

    .logo-container{
        max-width: 89px;
        margin-left: 3px;
    }

    .menu {
        gap: 25px;
    }       

    .menu li a{
        font-size: 16px;
    }

    .button-outline{
        padding: 10px 38px;
        font-size: 18px;
        margin-right: 7px;
    }

}

@media screen and (max-width: 767px){

    .nav__inner {
        padding: 38px 11px 0;
    }

    .logo-container{
        max-width: 89px;
        margin-left: 3px;
        padding-top: 10px;
    }

    .menu {
        display: none;
    }       

    .button-outline{
        display: none;
    }

    .burger {
        max-width: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding-bottom: 10px;
    }
    .burger__line {
        width: 100%;
        height: 3px;
        background-color: #39515E;
        border-radius: 1px;
    }

    .burger__line:last-child{
        max-width: 22px;
    }

}

@media screen and (max-width: 575px){
    .nav__inner {
        padding-left: 5px;
        padding-top: 38px;
        padding-right: 25px;
    }
    .burger {
        max-width: 42px;
        gap: 6px;
        padding-bottom: 0;
        padding-top: 6px;
    }
    .burger__line {
        height: 4px;
    }
    .burger__line:last-child{
        max-width: 30px;
    }
}

@media screen and (max-width: 320px){
    .container{
        padding: 0 14px ;
    }
    .nav__inner {
        padding: 34px 0 18px;
    }

    .logo-container{
        max-width: 71px;
    }

    .burger {
        max-width: 33px;
        gap: 4px;
    }
    .burger__line {

    }
    .burger__line:last-child{
        max-width: 23px;
    }
}

/* Header */

.header {
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__content {
}

.top__content {
    display: flex;
}

.lamp {
    margin-top: 94px;
}

.text-h1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.25em;
    max-width: 387px;
    padding-bottom: 44px;
}
.desktop-br {
}
.mobile-br {
    display: none;
}
.header-p {
    font-size: 24px;
    color: #8f95a5;
    max-width: 546px;
    padding-bottom: 60px;
}

.header-button {
    border-radius: 15px;
    font-size: 36px;
    color: #fff;
    padding: 32px 117px;
    background-color: var(--main-color);
}

.header-img {
    max-width: 661px;
}


@media screen and (max-width: 992px){
    .text-h1{
        font-size: 48px;
        line-height: 1.33em;
        padding: 0 0 28px;
        max-width: 290px;
    }
    .header-p {
        font-size: 20px;
        width: 100%;
        max-width: 420px;
        padding-bottom: 29px;
    }

    .header__content {
        margin: 27px 0;
    }

    .header-img {
        max-width: 460px;
    }
    .lamp{
        max-width: 85px;
    }


    .header-button {
        font-size: 24px;
        padding: 22px 78px;
        border-radius: 5px;
    }

}

@media screen and (max-width: 767px){
    .text-h1{
        font-size: 36px;
        line-height: 1.25em;
    }
    .header-p {
        font-size: 16px;
    }

    .header__content {
        margin: 57px 0 0 14px;
    }

    .header-img {
        max-width: 352px;
    }
    .lamp{
        max-width: 65px;
        margin-top: 75px;
    }

    .header__inner {
        padding-top: 15px;
    }

    .header-button {
        font-size: 18px;
        padding: 19px 67px;
    }
}

@media screen and (max-width: 575px){

    .header__inner {
        flex-direction: column-reverse;
    }
    .header-img {
        max-width: 424px;
    }

    .header__content{
        margin: 9px 0;
        text-align: center;
    }

    .text-h1{
        font-size: 34px;
        line-height: 1.32em;
        max-width: none;
    }
    .desktop-br {
        display: none;
    }

    .lamp{
        display: none;
    }

    .header-p{
        max-width: 500px;
        padding-bottom: 33px;
    }
    .header-button{
        padding: 18px 80px;
    }

}

@media screen and (max-width: 320px){
    .header__inner {
    }
    .header-img {
    }

    .header__content{

    }

    .top__content{
        justify-content: center;
    }

    .text-h1{
        font-size: 24px;
        line-height: 1.5em;
        padding-bottom: 24px;
    }

    .mobile-br {
        display: block;
    }

    
    .lamp{
    }

    .header-p{
        font-size: 14px;
    }
    .header-button{
        padding: 16px 78px;
        font-size: 16px;
    }
}