/* Подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Базовая конструкция */
html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}

:root{
    --main-color: #263238;
}

.container{
    margin: 0 auto;
    max-width: 1390px;
    padding: 0 25px;
}

/* Navigation */

.nav {
}
.nav__inner {
    padding: 53px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-container {
    display: block;
    transition: width 0.3s ease;
}
.logo-container {
}
.img {
    width: 100%;
    height: auto;
    max-width: 100%;
}
.nav-img {
}

.menu {
    display: flex;
    list-style: none;
    gap: 40px;
}

.menu li {
    position: relative;
}

.menu li a{
    display: inline-block;
    padding-bottom: 5px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    color:var(--main-color) ;
    transition: transform 0.3s ease; 
}

.menu li a:active{
    transform: scale(95%);
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    transform: translateX(-50%); 
    transition: width 0.3s ease; 
}

.menu li a:hover::after {
    width: 80%; 
}

.button {
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    transition: all 0.5s ease;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    background-color: var(--main-color);
}

.button:hover{
    cursor: pointer;
    background-color: var(--main-color);
    color: #fff;
}

.button:active{
    transform: scale(95%);
}

.button-outline {
    border: 2px solid var(--main-color);
    font-size: 24px;
    padding: 16px 56px;
    background-color: #fff;
    color: var(--main-color);
}

.burger {
    display: none;
}


@media screen and (max-width: 992px){

    .nav__inner {
        padding-top: 25px;
    }

    .logo-container{
        max-width: 89px;
        margin-left: 3px;
    }

    .menu {
        gap: 25px;
    }       

    .menu li a{
        font-size: 16px;
    }

    .button-outline{
        padding: 10px 38px;
        font-size: 18px;
        margin-right: 7px;
    }

}

@media screen and (max-width: 767px){

    .nav__inner {
        padding: 38px 11px 0;
    }

    .logo-container{
        max-width: 89px;
        margin-left: 3px;
        padding-top: 10px;
    }

    .menu {
        display: none;
    }       

    .button-outline{
        display: none;
    }

    .burger {
        max-width: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding-bottom: 10px;
    }
    .burger__line {
        width: 100%;
        height: 3px;
        background-color: #39515E;
        border-radius: 1px;
    }

    .burger__line:last-child{
        max-width: 22px;
    }

}

@media screen and (max-width: 575px){
    .nav__inner {
        padding-left: 5px;
        padding-top: 38px;
        padding-right: 25px;
    }
    .burger {
        max-width: 42px;
        gap: 6px;
        padding-bottom: 0;
        padding-top: 6px;
    }
    .burger__line {
        height: 4px;
    }
    .burger__line:last-child{
        max-width: 30px;
    }

    .header-button{
        padding: 20px 100px;
    }

}

@media screen and (max-width: 320px){
    .container{
        padding: 0 14px ;
    }
    .nav__inner {
        padding: 34px 0 18px;
    }

    .logo-container{
        max-width: 71px;
    }

    .burger {
        max-width: 33px;
        gap: 4px;
    }
    .burger__line {

    }
    .burger__line:last-child{
        max-width: 23px;
    }
}

/* Header */

.header {
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__content {
}

.top__content {
    display: flex;
}

.lamp {
    margin-top: 94px;
}

.text-h1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.25em;
    max-width: 387px;
    padding-bottom: 44px;
}
.desktop-br {
}
.mobile-br {
    display: none;
}
.header-p {
    font-size: 24px;
    color: #8f95a5;
    max-width: 546px;
    padding-bottom: 60px;
}

.header-button {
    border-radius: 15px;
    font-size: 36px;
    color: #fff;
    padding: 32px 117px;
    background-color: var(--main-color);
}

.header-img {
    max-width: 661px;
}


@media screen and (max-width: 992px){
    .text-h1{
        font-size: 48px;
        line-height: 1.33em;
        padding: 0 0 28px;
        max-width: 290px;
    }
    .header-p {
        font-size: 20px;
        width: 100%;
        max-width: 420px;
        padding-bottom: 29px;
    }

    .header__content {
        margin: 27px 0;
    }

    .header-img {
        max-width: 460px;
    }
    .lamp{
        max-width: 85px;
    }


    .header-button {
        font-size: 24px;
        padding: 22px 78px;
        border-radius: 5px;
    }

}

@media screen and (max-width: 767px){
    .text-h1{
        font-size: 36px;
        line-height: 1.25em;
    }
    .header-p {
        font-size: 16px;
    }

    .header__content {
        margin: 57px 0 0 14px;
    }

    .header-img {
        max-width: 352px;
    }
    .lamp{
        max-width: 65px;
        margin-top: 75px;
    }

    .header__inner {
        padding-top: 15px;
    }

    .header-button {
        font-size: 18px;
        padding: 19px 67px;
    }
}

@media screen and (max-width: 575px){

    .header__inner {
        flex-direction: column-reverse;
    }
    .header-img {
        max-width: 424px;
    }

    .header__content{
        margin: 9px 0;
        text-align: center;
    }

    .text-h1{
        font-size: 34px;
        line-height: 1.32em;
        max-width: none;
    }
    .desktop-br {
        display: none;
    }

    .lamp{
        display: none;
    }

    .header-p{
        max-width: 500px;
        padding-bottom: 33px;
    }
    .header-button{
        padding: 20px 100px;
    }

}

@media screen and (max-width: 320px){
    .header__inner {
    }
    .header-img {
    }

    .header__content{

    }

    .top__content{
        justify-content: center;
    }

    .text-h1{
        font-size: 24px;
        line-height: 1.5em;
        padding-bottom: 24px;
    }

    .mobile-br {
        display: block;
    }

    
    .lamp{
    }

    .header-p{
        font-size: 14px;
    }
    .header-button{
        padding: 16px 78px;
        font-size: 16px;
    }
}

.skills {
}
.skills__inner {
}
.text-h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.67em;
    text-transform: capitalize;
}

.skills .text-h2{
    padding: 95px 0;
}

.skills .text-h2{
    text-align: center;
}

.text-h3 {
    font-weight: 600;
    font-size: 30px;
    color: var(--main-color);
    text-transform: capitalize;
}
.skills-p {
    font-size: 16px;
    color: #8f95a5;
}
.skills .button {
    padding: 15px 56px;
}

.skills__grid {
    display: grid;
    grid-template-areas: "one two three"
    "one four four";
    gap: 18px;
}
.skills__grid-item {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.skills__grid-content{
    padding-left: 33px;
}

.skills .skills-p {
    padding-top: 20px;
    padding-right: 30px;
}

/* Speaking */

.speaking {
    grid-area: one;
    padding-top: 35px;
}

.speaking-img {
    max-width: 390px;
    margin-left: 23px;
    margin-bottom: 17px;
}

.skills .button{
    margin-top: 30px;
}
/* Writing */

.writing {
    grid-area: two;
}

.writing-img {
    max-width: 293px;
    max-height: 273px;
    margin-left: 120px;
}

.writing-content .skills-p{
    padding-top: 3px;
}

.writing .button{
    margin-bottom: 45px;
}

/* Reading */

.reading {
    grid-area: three;
}

.reading-img {
    max-width: 371px;
    margin: 8px 0;
}
.reading-content .skills-p{
    padding-top: 3px;
}

/* Listening */

.listening {
    grid-area: four;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 37px 0;
    margin-top: 8px;
    margin-left: 8px;
}

.listening-img {
    max-width: 382px;
    margin-right: 30px;
    margin: auto 0
}
.listening-content {
    max-width: 370px;
    width: 100%;
    margin-top: 16px;
}

.listening-content .skills-p{
    padding-top: 6px;
}

.about__mobile-h2 {
    display: none;
}


@media screen and (max-width: 992px){
    .skills__grid{
        gap: 13px;
    }

    .text-h2{
        font-size: 36px;
        line-height: 2.22em;
    }

    .skills .text-h2 {
        padding: 50px 0;
    }

    .skills .button{
        margin-top: 30px;
        padding: 17px 42px;
        font-size: 18px;
    }

    .text-h3 {
        font-size: 22px;
    }

    .skills .skills-p{
        font-size: 14px;
        padding-top: 15px;
    }

    /* Speaking */

    .speaking {
        padding-top: 0;
    }

    .speaking-img {
        max-width: 260px;
        margin-left: 30px;
        /*  */
        margin-bottom: 17px;
    }

    .speaking .button{
        margin-top: 45px;
    }

    
    /* Writing */

    .writing {
        grid-area: two;
    }

    .writing-img {
        max-width: 205px;
        margin-left: 100px;
    }

    .writing-content{
        padding-top: 0px;
    }

    .writing-content .skills-p{
        padding-top: 10px;
        padding-right: 25px;

    }

    .writing .button{
        margin: 20px 0;
    }

    /* Reading */

    .reading {
        grid-area: three;
    }

    .reading-img {
        max-width: 243px;
        margin: 8px 0;
    }
    .reading-content .skills-p{
        padding-top: 3px;
    }

    .reading-content{
        padding-top: 26px;
    }

    .reading-content .skills-p{
        padding-top: 10px;
        padding-right: 25px;
    }
    .reading .button{
        margin-top: 15px;
        margin-bottom: 20px;
    }

    /* Listening */

    .listening {
        padding: 16px 0 22px;
        margin: 0;
    }

    .listening-img {
        max-width: 382px;
        margin-right: 30px;
        margin: auto 0
    }
    .listening-content {
        max-width: 360px;
        width: 100%;
        margin-top: 7px;
    }

    .listening-content .skills-p{
        padding-top: 10px;
    }
    .listening .button{
        margin-top: 15px;
    }

}

@media screen and (max-width: 767px){
    .skills__grid{
        gap: 30px;
        grid-template-areas: "one two"
        "three four";
    }
    
    .skills__grid-item{
        justify-content: space-between;
        padding: 20px;
    }

    .text-h2{
        font-size: 30px;
        line-height: 2.67em;
    }

    .skills .text-h2 {
        padding-bottom: 35px;
    }

    .skills .button{
        padding: 14px 28px;
        font-size: 14px;
        margin: 0;
    }

    .text-h3 {
        font-size: 20px;
    }

    .skills .skills-p{
        font-size: 13px;
        padding-right: 0;
    }

    .listening{
        flex-direction: column;
    }
    .skills .img-container{
        max-width: 260px;
        margin: 0;
        margin: 0 auto;
    }

    .skills__grid-content{
        padding: 0;
        margin: 0;
    }
    .skills .button{
        margin: 25px 0;
        padding: 14px 54px;
    }

    .skills .skills-p{
        padding-top: 30px;
    }

    .writing .button{
        margin-top: 135px;
    }
}

@media screen and (max-width: 575px){

    .skills__grid{
        gap: 21px;
        grid-template-areas: "one"
        "two"
        "three" 
        "four";
    }

    .text-h2{
        font-size: 30px;
        line-height: 2.67em;
    }

    .skills .text-h2{
        padding: 93px 0 32px;
    }

    .text-h3 {
        font-size: 24px;
    }

    .speaking .text-h3 {
        padding-top: 7px;
    }

    .skills .skills-p{
        font-size: 16px;
    }



    .writing .button{
        margin-top: 25px;
    }
}


@media screen and (max-width: 320px){

    .text-h2{
        font-size: 24px;
        line-height: 3.33em;
    }

    .skills .text-h2{
        padding: 43px;
    }

    .text-h3 {
        font-size: 18px;
    }

    .speaking .text-h3 {
    }

    .skills .skills__grid-item{
    }

    .skills .skills-p{
        font-size: 13px;
    }

    .speaking-img img{
        max-width: 213px;
    }
    .writing-img img{
        max-width: 204px;
    }
    .reading-img img{
        max-width: 236px;
    }
    .listening-img img{
        max-width: 232px;
    }
}

/* About us */

.about {
}
.about__inner {
    display: flex;
    padding-top: 253px;
    justify-content: space-between;
}
.about__inner-content {
    padding-top: 30px;
    max-width: 635px;
    width: 100%;
}

.about__inner-content > .text-p{
    margin-top: 21px;
}

.text-p {
    font-size: 20px;
    color: #8f95a5;
}
.content__flex {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}
.flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.num {
    font-weight: 600;
    font-size: 48px;
    color: var(--main-color);
}
.about .img-container {
    margin: auto 0;
}

@media screen and (max-width: 992px) {
    
    .about__inner {
        display: flex;
        padding: 84px 5px 0;
        align-items: flex-end;
    }
    .about__inner-content {
        padding-top: 30px;
        max-width: 512px;
    }

    .about__inner-content > .text-p{
        margin-top: 10px;
    }

    .text-p {
        font-size: 16px;
    }
    .content__flex {
        max-width: 435px;
        margin-top: 25px;
    }
    .flex-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .num {
        font-size: 30px;
    }
    .about .img-container {
        max-width: 336px;
    }
} 
@media screen and (max-width: 767px) {
    
    .about__inner {
        display: flex;
        padding: 84px 15px 0;
        align-items: flex-end;
    }
    .about__inner-content {
        padding-top: 30px;
        max-width: 321px;
    }

    .about__inner-content > .text-p{
        margin-top: 10px;
    }

    .about .text-p{
        margin: 0;
    }

    .text-p {
        font-size: 14px;
    }
    .content__flex {
        max-width: 435px;
        margin-top: 27px;
    }

    .num {
        font-size: 22px;
    }
    .about .img-container {
        max-width: 295px;
    }
} 

@media screen and (max-width: 575px) {
    .about__inner{
        padding-top: 75px;
        flex-direction: column;
        align-items: center;
    }
    .about__inner-content .text-h2{
        display: none;
    }

    .about__mobile-h2{
        display: block;
        order: -2;
    }
    .about .img-container {
        order: -1;
        max-width: 352px;
        margin-top: 20px;
    }

    .about__inner-content {
        margin-top: 20px;
        max-width: none;
        text-align: center;
    }

    .content__flex{
        margin-top: 20px;
        flex-direction: column;
        gap: 50px;
    }
}

@media screen and (max-width: 320px){
    .about__inner{
        padding: 85px 0 0;
    }
    .about__inner-content{
        margin-top: 10px;
    }

    .text-p{
        font-size: 13px;
    }
}

/* Pricing */

.pricing {
}
.pricing__inner {
    margin: 180px 0;
}
.pricing .text-h2 {
    text-align: center;
}
.pricing-flex {
    display: flex;
    justify-content: space-between;
    gap: 5px;

}
.pricing-item {
    max-width: 440px;
    margin-top: 55px;
}

.pricing .text-h3 {
    margin: 35px 0 20px;
}


.pricing-item .text-p {
    margin-bottom: 60px;
}
.price {
    background-color: #EEEEEE;
    display: flex;
    max-width: 240px;
    align-items: center;
    gap: 10px;
    padding: 1px 8px 1px 12px;
    border-radius: 5px;
}
.cost {
    font-size: 30px;
    color: var(--main-color);
}
.pricing-p {
    font-size: 18px;
    color: #546269;
}

.pricing-item:nth-child(1) .img-container {
    max-width: 311px;
    margin-left: 20px;
}

.pricing-item:nth-child(1) .text-p {
    margin-bottom: 27px;
}

.pricing-item:nth-child(2) .img-container {
    max-width: 391px;
    margin-top: 30px;
}

.pricing-item:nth-child(2){
    padding-left: 25px;
}

.pricing-item:nth-child(3) .img-container {
    max-width: 340px;
    margin-left: 50px;
}

.pricing-item:nth-child(3) .text-h3 {
    margin-top: 5px;
}

@media screen and (max-width: 1400px){
    .pricing-flex{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .price{
        margin: 0 auto;
    }

}
@media screen and (max-width: 575px){
    .price{
        padding: 6px 12px;
        max-width: 205px;
    }
    .cost{
        font-size: 22px;
    }
    .pricing-p{
        font-size: 16px;
    }
    .pricing__inner {
        margin-bottom: 90px;
    }

}
@media screen and (max-width: 575px){
    .pricing-item .img-container{
        margin: 0;
    }
    .pricing-item:nth-child(3) .img-container {
        margin-left: 0px;
    }
    .pricing-item:nth-child(2) {
        padding-left: 0px;
    }
}

/* Contact */
.contact {
}
.contact__inner {
    display: flex;
    align-items: center;
    padding-bottom: 112px;
    justify-content: center;}
.contact .img-container {
    max-width: 477px;
    margin: auto 38px auto 0;
}

.contact__inner-content {
}
.contact .text-h2 {
    margin-bottom: 37px;
}
.contact .text-p {
    max-width: 776px;
    margin-bottom: 44px;
}
.btn-group {
    display: flex;
    gap: 12px;
    margin-right: 43px;
}

.btn-group input{
    font-size: 16px;
    color: #8f95a5;
    border: 1px solid #8f95a5;
    border-radius: 10px;
    padding: 26px 23px 30px 33px;
    width: 100%;
    max-width: 323px;
}

.btn-group .button {
    font-weight: 500;
    font-size: 20px;
    padding: 25px 81px;
    border-radius: 10px;
}

h2.text-h2.mobile-h2{
    display: none;
}


@media screen and (max-width: 992px) {
    
    .contact {
    }
    .contact__inner {
        display: flex;
    }
    .contact .img-container {
        max-width: 233px;
        margin: auto 17px auto 0;
        padding-top: 0;
    }

    .contact__inner-content {
        padding-top: 37px;
    }
    .contact .text-h2 {
        margin-bottom: 20px;
    }
    .contact .text-p {
        max-width: 416px;
        margin-bottom: 25px;
    }
    .btn-group {
        display: flex;
        gap: 6px;
        margin-right: 30px;
    }

    .btn-group input{
        font-size: 12px;
        color: #8f95a5;
        padding: 16px 24px;
        max-width: 323px;

    }

    .btn-group .button {
        padding: 15px 40px;
        border-radius: 10px;
        font-size: 13px;
    }
}
@media screen and (max-width: 767px) {
    .contact__inner{
        flex-direction: column;
        text-align: center;
    }
    .contact .text-h2 {
        display: none;
    }

    .contact .img-container {
        max-width: 358px;
        margin: 0;
    }
    h2.text-h2.mobile-h2{
        display: block;
        margin-bottom: 82px;
    }

    .btn-group{
        margin: 0;
    }

}

@media screen and (max-width: 380px) {
    .btn-group{
        flex-direction: column;
        gap: 17px;
    }
}